<%- include header %>
<div class="wrap-post">
<form method="post">
	标题:<br />
	<input type="text" name="title" placeholder="请输入标题" /><br />
	<input type="text" name="tag1" placeholder="标签一"/>
	<input type="text" name="tag2" placeholder="标签二" />
	<input type="text" name="tag3" placeholder="标签三" /><br />
	正文:<br />
	<textarea name="post" rows="20" cols="100"></textarea><br />
	<input type="submit" value="发表" />
</form>
</div>
<%- include footer %>